/*************************************************
    GENERAL STYLES
 *************************************************/
*,
 *::before,
 *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     font-family: Arial, Helvetica, sans-serif;
 }
 
 img {
     width: 100%;
     display: block;
 }

/*************************************************
    CUSTOM PROPERTIES
 *************************************************/

 /* Colori Layout */

:root{
    --first-color: #0084FD;
    --second-color: #B5DDFF;
    --thrid-color:#9792E4;
    --fourth-color:
}


 /************************************************
     UTILITIES
  ************************************************/
 
 /* LAYOUT */
 .container {
    max-width: 75rem;
    margin: 0 auto;
 }
 
 /*.row {
     display: ;
 }
 
 .col {
     padding-left: ;
     padding-right:;
 }*/
 
/* TEXT */
 .text-center {
     text-align:center;
 }

/************************************************
     SITE SECTIONS
  ************************************************/
 
 /* HEADER */
header nav{
    display: flex;
}

 header{
    width: 100%;
    background-color:var(--first-color);
    padding: 1.25rem 1.25rem;
    text-decoration: none;
 }

 .nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .menu , 
 a , 
 button {
    font-weight: 300;
    font-size: .875rem;
    color: white;

 }

 .menu{
    list-style-type: none;
    display: flex;
    align-items: center;
 }


 .menu li{
    padding: 0rem 1.25rem;
 }

 .logo{
    width:6.25rem;
 }

 .menu li a {
    transition: all 3s ease;
 }

 .menu a:hover{
    color: #3ef;  
 }

 button{
    padding: .5625rem 1.5625rem;
    background-color: white;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 3s ease;
 }

 button:hover{
    background:rgb(90, 209, 224) ;
 }


/* MAIN TOP SECTION */

.main-top{
    height: 200px;
}
 

 /************************************************
     SOLUZIONE RESPONSIVE
  ************************************************/

/* Media Query Mobile First : Caso Base Mobile */
 

/* Small Device Mobile da 0 a 767px*/

@media screen and (min-width: 0px){

        .container{
            width: 100%;  
        }

        header .menu, 
        header button{
            display: none; 
         }

    

} 

/* Medium Device Tablet da 768 a 991*/

@media screen and (min-width: 768px){

    .container{
        width: 100%;  
    }

    header .menu , 
    header button{
       display: none; 
    }
    
} 
 

/* Large Device Desktop da 992*/

@media screen and (min-width: 992px){
    
    header .menu , header button{
        display: flex; 
     }

    header .menu .font-awesome{
        display: none;
    }
 
} 


/*************************************************
    DEBUG
 *************************************************/

.debug{
     border:2px dashed black;
}

