/*************************************************
    GENERAL STYLES
 *************************************************/
*,
 *::before,
 *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     font-family: Arial, Helvetica, sans-serif;
 }
 
 img {
     width: 100%;
     display: block;
 }

/*************************************************
    CUSTOM PROPERTIES
 *************************************************/

 /* Colori Layout */

:root{
    --first-color: #0084FD;
    --second-color: #B5DDFF;
    --thrid-color:#9792E4;
    --fourth-color: #5A6E7F;

}

/*   Font Layout   */
    /* --first-font:
    --second-font:
    --third-font: */



 /************************************************
     UTILITIES
  ************************************************/
 
 /* LAYOUT */
 
 .container {
    max-width: 1200px;
    margin: 0 auto;
    padding:20px;
 }
 
 
/* TEXT */

 /* .text-center {
     text-align:center;
 } */

/************************************************
     SITE SECTIONS
  ************************************************/
 
 /* HEADER */
header nav{
    display: flex;
}

 header{
    width: 100%;
    background-color:var(--first-color);
    padding: 20px 20px;
    text-decoration: none;
 }

 .nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .menu , 
 a , 
 button {
    font-weight: 300;
    font-size: 14px;
    color: white;

 }

 .menu{
    list-style-type: none;
    display: flex;
    align-items: center;
 }


 .menu li{
    padding: 0px 20px;
 }

 .logo{
    width:100px;
 }

 .menu li a {
    transition: all 3s ease;
 }

 .menu a:hover{
    color: #3ef;  
 }

header nav button{
    padding: 9px 25px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 3.125rem;
    cursor: pointer;
    transition: all 3s ease;
 }

header nav button:hover{
    background:rgb(90, 209, 224) ;
 }

 header .font-awesome{
    color: white;
    font-size: 20px;
 }


/* MAIN TOP SECTION */

main .cards{
  
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.cards > .card{
    width:calc((100% / 3 ) - 2.50rem);
    height: 18.75rem;
    background-color:var(--second-color);
    border-radius:40px;
    margin: 1.25rem;
    display: flex;
}

main .card:first-child{

    width:calc((100% / 3 ) * 2  - 2.55rem);
}

main .card img{
    max-width: 12.5rem ;
}

main h2 {
    color:var(--first-color);
    margin:10px;
}

main button{
    color:var(--first-color);
    margin:20px;
}

main p{
    color:var(--fourth-color);
    margin: 10px;
    text-align: left;
    font-size: 1em;

}

.main-top i:not(.fa-brands){
    color:var(--first-color);
    margin:20px;
    text-align: left;

} 
div .card .right{
     display: flex;
     align-items: end;
}

.main-top div button{
    padding: .5625rem 2.8125rem;
    background-color:var(--first-color);
    color: white;
    border: none;
    border-radius: 3.125rem;
    cursor: pointer;
    transition: all 3s ease;
    font-size: small;
    letter-spacing: 2px;
 }


.main-top div button:hover{
    background:rgb(90, 209, 224) ;
 }

 button .fa-brands{
    padding-right: 5px;
 }

.card.small{
    display: block;
}

div .card .small {
    margin: 1.25rem;
}

.card .left{
    margin:1.875rem;
}

.card.small > *{
    text-align: center;
}
/* MAIN PLANNING SECTION */

.main-planning{
    background-color: var(--thrid-color);
    height: 50rem;
}

.card .left p{
    margin:20px 10px;
}



/* DA SISTEMARE */ 
header .menu , header button{
    display: flex; 
 }

header .font-awesome{
    display: none;
}


 /************************************************
     SOLUZIONE RESPONSIVE
  ************************************************/

/* Media Query Mobile First : Caso Base Mobile */
 

/* Large Device Desktop da 992 fino a 768*/

@media screen and (max-width:1200px){


        /* HEADER */

  
    

} 

/* Medium Device Tablet da 768 a 480*/

@media screen and (max-width:768px){

    /* HEADER */

    .container{
        width: 100%;  
    }

    header .menu , 
    header button{
       display: none; 
    }

    header .font-awesome{

        display: block;

    }
    /* MAIN */

    .cards > .card { 

    height: 30rem;
    display: inline-block;
    width: calc((100% / 3 ) - 2.1rem);
    border-radius: 30px;
    margin: 0.8rem;

    }
     
    div.card.left{
        
        width:90%;
        margin:.9375rem;
        
    }
    
    main p{
        font-size: large;
    }

    .right img{
        margin:0px 20px;
    }
}

/* Small Device Mobile da 480 in poi*/

@media screen and (max-width:480px){
    
    /* HEADER */

    /* .container{
        width: 100%;  
    } */

    header .menu, 
    header button{
        display: none; 
     }

     header .font-awesome{
        display: block;
    
    }

 
} 


/*************************************************
    DEBUG
 *************************************************/

.debug{
     border:.125rem dashed black;
}

