/*************************************************
    GENERAL STYLES
 *************************************************/
*,
 *::before,
 *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 body {
     font-family: Arial, Helvetica, sans-serif;
 }
 
 img {
     width: 100%;
     display: block;
 }

 /************************************************
     UTILITIES
  ************************************************/
 
 /* LAYOUT */
 .container {
     width: 1200px;
     margin: 0 auto;
 }
 
 /*.row {
     display: ;
 }
 
 .col {
     padding-left: ;
     padding-right:;
 }*/
 
/* TEXT */
 .text-center {
     text-align:center;
 }

/************************************************
     SITE SECTIONS
  ************************************************/
 
 /* HEADER */
header nav{
 display: flex;
}

 header{
    background-color: #0084FD;
    padding:20px 20px;
    text-decoration: none;
 }

 .nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .menu , 
 a , 
 button {
    font-weight: 300;
    font-size: 14px;
    color: white;

 }

 .menu{
    list-style-type: none;
    display: flex;
    align-items: center;
 }


 .menu li{
    padding: 0px 20px;
 }

 .logo{
    width:100px;
 }

 .menu li a {
    transition: all 3s ease;
 }

 .menu a:hover{
    color: #3ef;  
 }

 button{
    padding: 9px 25px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 3s ease;
 }

 button:hover{
    background:rgb(90, 209, 224) ;
 }


/* LESSONS SECTION */


 /************************************************
     SOLUZIONE RESPONSIVE
  ************************************************/

/* Media Query Mobile First : Caso Base Mobile */
 

/* Small Device Mobile */

@media screen and (min-width: 768px){
    .CLASSE{
        width: 100%;  
    }
} 

/* Medium Device Tablet*/

 

/* Large Device Desktop */



/*************************************************
    DEBUG
 *************************************************/

.debug{
     border:2px dashed black;
}

